/* Write your CSS code here */
.heading {
  width: 250px;
  font-size: 25px;
  text-align: center;
  
}
.role {
  color: #616e7c;
  text-align: center;
  
}

.image {
  height: 150px;
  width: 150px;
  margin-left: 40px;
}
