.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.blog-lists{
    list-style-type: none;
    align-self: flex-start;
    width: 100%;
}